*{
    padding:0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width:100%;
    max-width: 300px;
    height: fit-content;
    margin:auto;
    inset: 0;
    position: fixed;
    padding:20px;
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
}

.card-img img{
    border-radius: 15px;
    width: 100%;
    max-width: 300px;
}

.card-content{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap:18px;
}

.card-content p{
    color: hsl(215, 51%, 70%);
}

.line{
    background-color: hsl(215, 32%, 27%);
    width: 100%;
    max-width: 380px;
    text-align: center;
    height: 3px;
}

.content-info{
    display: flex;
 justify-content: space-between;
 align-content: center;
}

.content-info span{
    color: hsl(178, 100%, 50%);
}


.days-info, .ETH-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.user-info{
    display: flex;
    align-items: center;
    gap:20px;
}

.user-info span{
    color: hsl(0, 0%, 100%);;
}
.user-info img{
    width: 100%;
    max-width: 40px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
